.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
  background-color: rgba(76, 87, 79, .4);
  transition: visibility 0.2s linear, opacity 0.2s linear;

  &.preview {
    
    visibility:visible;
    opacity:1;
  }

  &__close-icon::before {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 11;
    content: 'x';
    color: var(--white);
    font-weight: 300;
    font-size: 50px;
  }

  &__favorite {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 11;

    img {
      width: 30px;
      height: 30px;
    }
  }
}